// Color
$descriptionColor: #8C8C8C;
$nameColor:  #1F1F1F;
$ButtonColor: #1890FF;
$ButtonBorderColor: #2F54EB; 

.container_wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 430px;
    height: 282px;
    border: 1px dashed $descriptionColor;

    display: flex;
    flex-direction: column;
    padding: 12px 20px 12px 20px;
}

.Name{
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}
.desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5%;
    text-align: center;
    color: $descriptionColor;
    margin-bottom: 20px;
}

.input_wrapper{
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
}
.inputs select {
    width: 99px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    padding: 6px 12px 6px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    color: #6E7781;
    outline: none;
}

.inputs input {
    width: 291px;
    padding:  0px 8px 8px 0px;
    border-radius: 1px 1px 1px 0px;
    padding: 6px 12px 6px 12px;
    outline: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #D0D7DE;
}
.inputs input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
}

.input_name{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5%;
    color: #424A53;
}
.button{
    width: 390px;
    height: 30px;
    background-color: $ButtonColor;
    border-radius: 8px;
    border: 1px solid $ButtonBorderColor;
    padding: 12px 18px 12px 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 15px;
    color: white;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
}

